
section(data-background-image="imgs/logo.png").fullcover

section

    h1 MOTIVAZIONE

section(data-background-image="imgs/beautiful-wallpaper-download-14.jpg").fullcover

section

    h1 EFFICACIA
    h1 E
    h1 INNOVAZIONE

section(data-background-image="imgs/beautiful-wallpaper-download-12.jpg").fullcover

section(data-background-image="imgs/ecopetit.cat-really-nice-wallpapers-781764.png").fullcover

section(data-background-image="imgs/ecopetit.cat-really-nice-wallpapers-781764.png").fullcover
    h1 EFFICACIA
    h1 TRAMITE
    h1 INNOVAZIONE
section

    h1 TECNICISMI

section(data-background-image="imgs/tecnicismi.jpg").fullcover

section

    h2 Saluti da Freddie Mercury

    div.column-left

        img(src="imgs/hqdefault.jpg")
    
    div.column-right

        img(src="imgs/logo-scuola.jpg")


