
section(data-background-image="imgs/logo-iis.jpg")

section(data-background-image="imgs/bull.jpg",data-background-opacity="0.7")
    div.background-opaque.back-black
        h1 #bullismo

section(data-background-image="imgs/Nao16-2.jpg",data-background-opacity="0.7")

    div.background-opaque.back-white
        h2.black #naochallenge2019

section(data-background-image="imgs/logo.png",data-background-repeat="repeat").fullcover

section

    div.background-opaque.back-white
        h2.black UN PERCORSO

    div.column-left.fragment
        h3 #avvocato
        img(src="imgs/Cyberbullismo-IIS-Merloni-Miliani-Fabriano-2019-5-1024x469.jpg")
        img(src="imgs/Cyberbullismo-IIS-Merloni-Miliani-Fabriano-2019-4-1024x469.jpg")

    div.column-right.fragment
        h3 #psicologhe
        img(src="imgs/figli-on-line.jpg")

section

    div.background-opaque.back-white
        h2.black efficacia

    div.column-left.fragment
        h3 #timidezza
        img(src="imgs/IMG_20190413_103002-cut2.jpg")

    div.column-right.fragment
        h3 #specialisti
        img(src="imgs/Psicologi.jpg",height="410")

section

    div.background-opaque.back-white
        h2.black innovazione

    div.column-left.fragment
        h3 #NAO+HRM
        img(src="imgs/NAO-600x340.jpg",height="250",width="100%")

        img(src="imgs/MAX30100.jpg",height="250",width="100%")

    div.column-right.fragment
        h3 #Telegram
        img(src="imgs/telegram_app.jpg")

section(data-background-image="imgs/ecopetit.cat-really-nice-wallpapers-781764.png").fullcover

section(data-background-image="imgs/ecopetit.cat-really-nice-wallpapers-781764.png").fullcover
    h1 EFFICACIA
    h1 TRAMITE
    h1 INNOVAZIONE

section

    h1 TECNICISMI

section(data-background-image="imgs/naoch19-tecnicismi.png").fullcover

section(data-background-image="imgs/NAO-NETWORK.png")

section(data-background-image="imgs/vittoria.jpg")

    h1.a-bit-on-sx LIFE IS NAO!
